 <div id="page">
      <!-- Header -->
      <div id="header">
        <a href="#menu"></a>
          <span id="Logo" class="svg">
            Sk8
          </span>
        <a class="backBtn" href="javascript:history.back();"></a>
      </div>
      <div class="subHeader"><i class="i-home i-small"></i>Search Spots</div>

      <!-- Banner map -->
      <div id="map" style="width:100%; height:250px;"></div>
      <!-- End Banner map -->

      <!-- Content/Spots -->

      <div id="content">

      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot) do %>
          <div class="mainIconPane">
            <span class="i-pane i-green">
              <i class="i-phone"></i>
            </span>
            <h4><%= spot.name %></h4>
            <p>
               <%= spot.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      </div>

      <!-- Menu navigation -->
      <nav id="menu">
        <ul>
          <li class="Selected">
            <a href="/spots">
              <i class="i-home i-small"></i>Find Spots
            </a>
          </li>
          <li>
            <a href="/spots/new">
              <i class="i-small"></i>Add Spot
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="i-small"></i>Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>