 <div id="page">
      <!-- Header -->
      <div id="header">
        <a href="#menu"></a>
          <span id="Logo" class="svg">
            Sk8
          </span>
        <a class="backBtn" href="javascript:history.back();"></a>
      </div>
      <div class="subHeader"><i class="i-home i-small"></i>Welcome friend!</div>

      <!-- Banner map -->
      <div id="map" style="width:100%; height:250px;"></div>
      <!-- End Banner map -->

      <!-- Content/Spots -->

      <div id="spots">
        <div id="spot_list">

        </div>
      </div>

      <!-- Menu navigation -->
      <nav id="menu">
        <ul>
          <li class="Selected">
            <a href="/spots">
              <i class="i-home i-small"></i>Find Spots
            </a>
          </li>
          <li>
            <a href="/spots/new">
              <i class="i-small"></i>Create Spot
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="i-small"></i>Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>